<div id="customAlert" class="alert alert-dismissible fade show d-none position-fixed top-0 start-50 translate-middle-x shadow"
     style="z-index: 1056; width: 50%;"
     role="alert">
    <span id="alertMessage"></span>
    <button type="button" class="btn-close" aria-label="Close" onclick="hideCustomAlert()"></button>
</div>